Repository ecmwf/anemoi, pull requests merged in 2025-09, with the labels that each got.

#61 ci: simplify on demand system-level tests workflow
  .github/workflows/on_demand_ci_hpc.yaml
Labels: ATS Approval Not Needed

#65 chore: synced file(s) with ecmwf/reusable-workflows
  .github/pull_request_template.md
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-ats.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  LICENSE
Labels: sync

#62 test: install anemoi deps from branches in system-level tests
  .github/workflows/on_demand_ci_hpc.yaml
  tests/system-level/configs/tools.yaml
  tests/system-level/configs/user.yaml
Labels: ATS Approval Not Needed, CI/CD, tests
